<!-- wp:template-part {"slug":"header","theme":"soivigol-blocks"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"1px","bottom":"0px","left":"1px"},"blockGap":"0px"}},"className":"soivigol-main-container","layout":{"inherit":true}} -->
<div class="wp-block-group soivigol-main-container" style="padding-top:0px;padding-right:1px;padding-bottom:0px;padding-left:1px"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"soivigol-blocks"} /-->
